<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sys1yagi.channel_list">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".Application"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Channellist">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Channellist.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.page.addcategory.AddCategoryActivity"
            android:theme="@style/Theme.Channellist.NoActionBar" />
        <activity
            android:name=".presentation.page.editchannelcategory.EditChannelCategoryActivity"
            android:theme="@style/Theme.Channellist.NoActionBar" />
    </application>

</manifest>
